
body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: whitesmoke;
    margin: 40px;
}

h1{
    color: black;
    font-size: 40px;
}

p{
    color: black;
  
}

footer{
    color: brown;
    margin: 0, auto;
}

nav ul li a{
    color: darkslateblue;
	text-decoration: none;
	font-size: 20px;
  
}

ul{
	list-style-type: none;
	padding: 0px;
}

a:hover {
	color: aliceblue;
    background-color: deeppink;

}
    